[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
scikit-learn = {git = "https://github.com/scikit-learn/scikit-learn"}
nltk = "*"
pandas = "*"
numpy = "*"
gensim = "*"
matplotlib = "*"
click = "*"
keras = "*"
tensorflow = {file = "https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.9.0-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.7"
