[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
keras = "*"
tensorflow = "*"
pandas = "*"
matplotlib = "*"
nltk = "*"
sklearn = "*"
gensim = "*"
click = "*"
fastText = {git = "https://github.com/facebookresearch/fastText.git"}

[dev-packages]

[requires]
python_version = "3.6"
